body {
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.header {
    margin: 0%;
    height: 18em;
    background-position: right;
    background-image: url("/assets/img/portada3.jpg");
    border-radius: 30px;
    text-align: left;
    color: rgba(6, 22, 73, 0.829);  
    background-repeat: repeat-x; 
    background-size: cover;
}
.header h1 {
    font-weight: 2000;
    padding: 120px 250px;
    margin:0px ;
}

.tablas {
    width: 90%;
    margin: auto;
    color: #ddd;
    }
.tablas td{
    width: 50%;
    padding: 2em;
    }
.tablas img{
    width: 100%;
    border: solid 1px #ddd;
    }
footer{
     height: 3em;
     line-height: 3em;
     background-color: rgb(240, 235, 230);
     color: black;
     text-align: center;
     font-weight: 1000;
     margin: auto;
     }